<html>
<%- include('../master/head'); %>

    <body class="lt-body__login">

        <div class="lt-login">
            <div class="lt-login__panel">

                <div class="lt-login__head">
                    <span>
                        <%= name %>
                    </span>
                </div>
               
                <div class="lt-login__body">
                    <div class="lt-wrap">
                        <form class="lt-validate__form" autocomplete="off">
                            <div class="lt-wrap__input lt-validate__input" data-validate="Enter Phone">
                                <input class="lt-input" type="tel" name="phones" />
                                <span class="lt-focus" data-placeholder="Phone"></span>
                            </div>
                            <div class="lt-wrap__input lt-validate__input" data-validate="Enter Password">
                                <input class="lt-input" type="password" name="password" />
                                <span class="lt-focus" data-placeholder="Password"></span>
                            </div>
                            <div class="lt-wrap__container">
                                <div class="lt-wrap__form">
                                    <div class="lt-wrap__form--bgbtn"></div>
                                    <button type="submit" class="lt-wrap__form--btn" data-submit="true">Login</button>
                                </div>
                                <div class="lt-wrap__form">
                                    <div class="lt-wrap__form--bgregister"></div>
                                    <a class="lt-wrap__form--register" data-register="true">Register</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../master/footer'); %>
          <script type="text/javascript">

               login.load()
               
                $('form').submit(function (e) {
                    e.preventDefault();
                    login.submit({
                        wn:window,
                        ele:$(this)
                    });
                });

                $('[data-register="true"]').click(function (e) {
                    e.preventDefault();
                    register.go({
                        ele: window
                    })
                });

            </script>

    </body>

</html>