<html>
<%- include('../master/head'); %>

    <body class="body__profile">

        <div class="card lt-profile border-0">
            <div class="lt-profile__head p-3" style=" z-index: 10;">
                <div class="lt-profile__head--left" data-back="true">
                    <i class="fa fa-chevron-left " ></i>
                </div>
            </div>
            <div class="lt-profile__head center">
                <div>
                    <h4>250</h4>
                    <small>Credit</small>
                </div>
            </div>
            <div class="lt-profile__banner">
                <label>
                    _ _ _ _ _ _ _ _
                </label>
            </div>
            <div class="lt-profile__body">
                <form class="validate-form">
                    <div class="pin">
                        <div class="pin-number">
                            <div class="group-items">
                                <button type="button" class="btn items" data-pin="1">1</button>
                                <button type="button" class="btn items" data-pin="2">2</button>
                                <button type="button" class="btn items" data-pin="3">3</button>
                            </div>
                            <div class="group-items">
                                <button type="button" class="btn items" data-pin="4">4</button>
                                <button type="button" class="btn items" data-pin="5">5</button>
                                <button type="button" class="btn items" data-pin="6">6</button>
                            </div>
                            <div class="group-items">
                                <button type="button" class="btn items" data-pin="7">7</button>
                                <button type="button" class="btn items" data-pin="8">8</button>
                                <button type="button" class="btn items" data-pin="9">9</button>
                            </div>
                            <div class="group-items">
                                <button type="button" class="btn items" data-back="true">
                                    </button>
                                <button type="button" class="btn items" data-pin="0">0</button>
                                <button type="button" class="btn items" data-remove="true">
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </body>

    <%- include('../master/footer'); %>
        <script type="text/javascript">

            $(document).ready(function () {


                $('[data-back="true"]').click(function (e) {
                    e.preventDefault();
                    window.location.href = location.origin + "/profile";
                })
            });

        </script>

</html>