<html>
<%- include('../master/head'); %>

    <body class="body__profile">
        <div class="se-pre-con"></div>
        <div class="card lt-profile border-0">
            <div class="lt-profile__top right pr-3 pt-3" style=" z-index: 10;">
                 <a class="btn btn-icon " data-pincode="true">
                    <i class="fa fa-lock"></i>
                 </a>
            </div>
            <div class="lt-profile__head between" data-profile="true">

                <div class="lt-profile__head--left">
                    <img src="https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                        alt="">
                    <div>
                        <h6 data-profile-tag="username">Username</h6>
                        <small >Discount <span data-profile-tag="discount">0</span></small>
                    </div>
                </div>
                <div class="lt-profile__head--right d-flex">
                    <h4 data-profile-tag="credit">0</h4>
                    <small>Credit</small>
                </div>

            </div>
            <div class="lt-profile__banner">
                <button type="button" class="btn" data-order="true">
                  <i class="fa fa-credit-card"></i>  30 ธันวาคม 63
                </button>
            </div>
            <div class="lt-profile__body">
                <p>รายงาน</p>
                <!-- <div class="card lt-list">
                    <div class="lt-list__body ">
                        <div class="lt-list__body--board">
                            <span>
                                531
                            </span>
                            <p>
                                Accept
                            </p>
                        </div>
                        <div class="lt-list__body--detail">
                            <div class="lt-title">
                                <span>50 <small>ล่าง </small></span>
                                <span>50 <small>บน </small></span>
                            </div>
                            <hr>
                            <div class="follow-info">
                                <h2>
                                    <span>100</span>
                                    <small>Bat</small>
                                </h2>
                                <h2>
                                    <span>25</span>
                                    <small> Discount</small>
                                </h2>
                                <h2>
                                    <span>1000</span>
                                    <small>Totle</small>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card lt-list">
                    <div class="lt-list__body ">
                        <div class="lt-list__body--board">
                            <span>
                                531
                            </span>
                            <p>
                                Accept
                            </p>
                        </div>
                        <div class="lt-list__body--detail">
                            <div class="lt-title">
                                <span>50 <small>ล่าง </small></span>
                                <span>50 <small>บน </small></span>
                            </div>

                            <hr>
                            <div class="follow-info">
                                <h2>
                                    <span>100</span>
                                    <small>Bat</small>
                                </h2>
                                <h2>
                                    <span>25</span>
                                    <small> Discount</small>
                                </h2>
                                <h2>
                                    <span>1000</span>
                                    <small>Totle</small>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </body>

    <%- include('../master/footer'); %>
        <script type="text/javascript">

            $(document).ready(function () {

                $('[data-order="true"]').click(function (e) {
                    e.preventDefault();
                    window.location.href = location.origin + "/order";
                })

                $('[data-pincode="true"]').click(function (e) {
                    e.preventDefault();
                    window.location.href = location.origin + "/pincode";
                })

                profile.load({
                    ele: $('[data-profile="true"]')
                })
                
            });

        </script>

</html>