<html>
<%- include('../master/head'); %>

    <body class="lt-center ">


        <div class="lt-profile">


            <div class="lt-profile__head">
                <div class="lt-profile__group">
                    <div class="lt-profile__group--left">
                        <p>asdf</p>
                    </div>
                    <div class="lt-profile__group--right">
                        <p>asdf</p>
                    </div>
                </div>
            </div>
            <div class="lt-profile__label">
                <button type="button" class="btn">1 ธันวาคม 63</button>
            </div>
            <div class="lt-profile__body">
                <p>asdfasd</p>
            </div>

        </div>



    </body>

    <%- include('../master/footer'); %>
        <script type="text/javascript">



        </script>

</html>